<div class="col-xs-12 comment-indent">
  <div class="commentWrapper">
    <p class="commentAuthor">{{comment.author.username}}</p>
    <p class="commentContent">{{comment.content}}</p>
    <a href="/posts/{{postId}}/comments/{{comment._id}}/replies/new">
      <button class="commentReply btn btn-dark btn-small">Reply</button>
    </a>
  </div>
    {{#each comment.comments}}
        <div class="subComment">
          {{> comment comment=this postId=../postId}}
        </div>
    {{/each}}
</div>
